*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9faf8;
    font-size: 18px;
    margin: 0;
}

.navbar{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
}

.navbar .container-left .logo{
    font-size: 48px;
    font-weight: 900;
    color: #e5e7eb;
    padding: 4px 32px;
}

.navbar .container-right ul{
    list-style-type: none;
    display: flex;
    margin: 5px;
    padding: 5px;
    gap: 8px;
}

.navbar .container-right ul li a{
    text-decoration: none;
    padding: 8px;
}

.first-layout{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: #1f2937;
}

.first-layout .first-container-left h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first-container-left button{
    display: flex;
    justify-content: end;
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.second-layout{
    text-align: center;
    padding: 100px;
}

.second-layout-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
}

.second-layout-container{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    border: 5px solid #3882f6;
    border-radius: 25px;
    padding: 12px;
}

.info .text{
    color: #1f2937;
}

img{
    width: 100px;
    height: 100px;
}

.third-layout{
    display: flex;
    padding: 100px;
    background-color: #e5e7eb;

}

.third-layout-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.qoute-layout{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author-layout{
    justify-content: flex-end;
    text-align: end;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.fourth-layout{
    text-align: center;
    padding: 100px;
}

.fourth-layout-container{
    display: flex;
    justify-content: space-around;
    gap: 52px;
    padding: 32px;
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 10px;
}


.left-card{

}

.btn{
    display: flex;
    align-items: center;
}

.btn button{
    display: flex;
    justify-content: end;
    background-color: #3882f6;
    border: 3px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}










/* footer section css */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 16px;
  }
  